<div _ngcontent-ayb-c4="" class="container">
    <!---->
    <div _ngcontent-ayb-c4="" class="row justify-content-lg-center justify-content-xl-start">
        <div _ngcontent-ayb-c4="" class="col-md-12 col-lg-9 col-xl-8">
            <!---->
            <section _ngcontent-ayb-c4="" class="mb-4 ng-tns-c4-3 ng-star-inserted">
                <div _ngcontent-ayb-c4="" class="clearfix">
                    <app-stepper-horizontal _ngcontent-ayb-c4="" class="ng-tns-c4-3" _nghost-ayb-c6="">
                        <div _ngcontent-ayb-c6="" class="step_wrap">
                            <ul _ngcontent-ayb-c6="" class="progressbar">
                                <!----><
                                li _ngcontent-ayb-c6="" class="active ng-star-inserted">
                                <span _ngcontent-ayb-c6="" class="stepper-title">Регистрация</span>
                                </li>
                                <li _ngcontent-ayb-c6="" class="ng-star-inserted">
                                    <span _ngcontent-ayb-c6="" class="stepper-title">Основные данные</span>
                                </li>
                                <li _ngcontent-ayb-c6="" class="ng-star-inserted">
                                    <span _ngcontent-ayb-c6="" class="stepper-title">Адрес</span>
                                </li>
                                <li _ngcontent-ayb-c6="" class="ng-star-inserted">
                                    <span _ngcontent-ayb-c6="" class="stepper-title">Учебное заведение</span>
                                </li>
                                <li _ngcontent-ayb-c6="" class="ng-star-inserted">
                                    <span _ngcontent-ayb-c6="" class="stepper-title">Направления</span>
                                </li>
                                <li _ngcontent-ayb-c6="" class="ng-star-inserted">
                                    <span _ngcontent-ayb-c6="" class="stepper-title">Анкета</span>
                                </li>
                            </ul>
                        </div>
                    </app-stepper-horizontal>
                </div>
            </section>
            <form _ngcontent-ayb-c4="" class="ng-tns-c4-3 ng-untouched ng-pristine ng-valid" novalidate="">
                <!----><section _ngcontent-ayb-c4="" class="ng-tns-c4-3 ng-trigger ng-trigger-simpleFadeAnimation ng-star-inserted" style="opacity: 1;">
                    <app-login-create _ngcontent-ayb-c4="" class="ng-tns-c4-3" validatorgroupname="Step1" _nghost-ayb-c7="">
                        <span _ngcontent-ayb-c7="" class="dx-form-group-caption">РЕГИСТРАЦИЯ</span>
                        <div _ngcontent-ayb-c7="" class="dx-form-group-with-caption dx-form-group">
                            <div _ngcontent-ayb-c7="" class="dx-form-group-content">
                                <span _ngcontent-ayb-c7="" class="fs12"></span>
                                <div _ngcontent-ayb-c7="" class="dx-field">
                                    <div _ngcontent-ayb-c7="" class="dx-field-label">
                                        Email
                                        <span _ngcontent-ayb-c7="" class="dx-field-item-required-mark">
                                            &nbsp;*
                                        </span>
                                    </div><div _ngcontent-ayb-c7="" class="dx-field-value">
                                        <dx-text-box _ngcontent-ayb-c7="" class="dx-validator dx-visibility-change-handler dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-widget dx-invalid">
                                            <div class="dx-texteditor-container">
                                                <div class="dx-texteditor-input-container">
                                                    <input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" role="textbox" aria-invalid="true" aria-describedby="dx-64528aac-6b93-e31e-9380-1ca2a9d7290e">
                                                    <div data-dx_placeholder="" class="dx-placeholder dx-state-invisible">
                                                    </div>
                                                </div>
                                                <div class="dx-texteditor-buttons-container">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dx-invalid-message dx-overlay dx-widget dx-visibility-change-handler dx-invalid-message-auto">
                                                <div class="dx-overlay-wrapper dx-invalid-message" data-bind="dxControlsDescendantBindings: true" style="z-index: 1501; position: absolute; width: 660.312px; height: 39px; left: 0px; top: 0px; transform: translate(-2px, -37px); transition: all 0s ease 0s;">
                                                    <div class="dx-overlay-content dx-resizable dx-invalid-message-content" id="dx-64528aac-6b93-e31e-9380-1ca2a9d7290e" style="width: auto; height: auto; z-index: 1501; margin: 0px; left: 0px; top: 0px; transform: translate(0px, 39px); transition: all 0s ease 0s; max-width: 660.312px;">
                                                        Email уже зарегистрирован
                                                    </div>
                                                </div>
                                            </div>
                                        </dx-text-box>
                                        <i _ngcontent-ayb-c7="" style="font-size: 11px">
                                            Укажите Ваш Email и придумайте пароль для входа в личный кабинет
                                        </i>
                                    </div>
                                </div>
                                <div _ngcontent-ayb-c7="" class="dx-field">
                                    <div _ngcontent-ayb-c7="" class="dx-field-label">
                                        Пароль
                                        <span _ngcontent-ayb-c7="" class="dx-field-item-required-mark">&nbsp;*</span>
                                    </div>
                                    <div _ngcontent-ayb-c7="" class="dx-field-value">
                                        <dx-text-box _ngcontent-ayb-c7="" mode="password" class="dx-validator dx-visibility-change-handler dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-widget">
                                            <div class="dx-texteditor-container">
                                                <div class="dx-texteditor-input-container">
                                                    <input autocomplete="off" class="dx-texteditor-input" type="password" spellcheck="false" tabindex="0" role="textbox">
                                                    <div data-dx_placeholder="" class="dx-placeholder dx-state-invisible">
                                                    </div>
                                                </div>
                                                <div class="dx-texteditor-buttons-container">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div _ngcontent-ayb-c7="" class="dx-field">
                                    <div _ngcontent-ayb-c7="" class="dx-field-label">
                                        Повторите пароль
                                        <span _ngcontent-ayb-c7="" class="dx-field-item-required-mark">
                                            &nbsp;*
                                        </span>
                                    </div>
                                    <div _ngcontent-ayb-c7="" class="dx-field-value">
                                        <dx-text-box _ngcontent-ayb-c7="" mode="password" class="dx-validator dx-visibility-change-handler dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-texteditor-empty dx-widget">
                                            <div class="dx-texteditor-container">
                                                <div class="dx-texteditor-input-container">
                                                    <input autocomplete="off" class="dx-texteditor-input" type="password" spellcheck="false" tabindex="0" role="textbox">
                                                    <div data-dx_placeholder="" class="dx-placeholder">
                                                    </div>
                                                </div>
                                                <div class="dx-texteditor-buttons-container">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dx-text-box>
                                    </div>
                                </div><!---->
                                <div _ngcontent-ayb-c7="" class="dx-field">
                                    <div _ngcontent-ayb-c7="" class="dx-field-label">
                                    </div><!---->
                                    <div _ngcontent-ayb-c7="" class="dx-field-value ng-star-inserted" style="">
                                        <dx-check-box _ngcontent-ayb-c7="" style="float: left" text="Согласен на обработку своих персональных данных в порядке, установленным Федеральным законом от 27.07.2006 г. № 152-Ф3 «О персональных данных»." class="dx-show-invalid-badge dx-checkbox dx-checkbox-has-text dx-widget" role="checkbox" aria-checked="false" tabindex="0">
                                            <input type="hidden" value="false">
                                            <div class="dx-checkbox-container">
                                                <span class="dx-checkbox-icon">
                                                </span>
                                                <span class="dx-checkbox-text">
                                                    Согласен на обработку своих персональных данных в порядке, установленным Федеральным законом от 27.07.2006 г. № 152-Ф3 «О персональных данных».
                                                </span>
                                            </div>
                                        </dx-check-box>
                                    </div><!----><!----><!---->
                                    <div _ngcontent-ayb-c7="" class="dx-field-value ng-star-inserted" style="">
                                        <i _ngcontent-ayb-c7="">
                                            <a _ngcontent-ayb-c7="" style="color: #2d6da3" href="null">
                                                Подробнее...
                                            </a>
                                        </i>
                                    </div>
                                </div>
                                <div _ngcontent-ayb-c7="" class="dx-field">
                                    <div _ngcontent-ayb-c7="" class="dx-field-label">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-login-create>
                </section>  <!----><!----><!----><!----><!---->
                <section _ngcontent-ayb-c4="" class="ng-tns-c4-3">
                    <div _ngcontent-ayb-c4="" class="dx-field">
                        <div _ngcontent-ayb-c4="" class="d-flex justify-content-between bd-highlight mb-3">
                            <div _ngcontent-ayb-c4="" class="my-3">
                                <!---->
                                <dx-button _ngcontent-ayb-c4="" id="btnBack" text="Назад" type="Normal" class="ng-tns-c4-3 dx-button dx-button-Normal dx-button-mode-contained dx-widget dx-button-has-text ng-star-inserted" role="button" aria-label="Назад" tabindex="0">
                                    <div class="dx-button-content">
                                        <span class="dx-button-text">
                                            Назад
                                        </span>
                                    </div>
                                </dx-button>
                            </div>
                            <div _ngcontent-ayb-c4="" class="my-3">
                                <!---->
                                <dx-button _ngcontent-ayb-c4="" class="btn-next ng-tns-c4-3 dx-button dx-button-Normal dx-button-mode-contained dx-widget dx-button-has-text ng-star-inserted dx-state-disabled" id="btnNext" text="Далее" type="Normal" role="button" aria-label="Далее" aria-disabled="true">
                                    <div class="dx-button-content">
                                        <span class="dx-button-text">
                                            Далее
                                        </span>
                                        <input type="submit" tabindex="-1" class="dx-button-submit-input">
                                    </div>
                                </dx-button>
                            </div>
                        </div>
                    </div>
                    <dx-validation-summary _ngcontent-ayb-c4="" class="ng-tns-c4-3 dx-validationsummary dx-widget dx-collection" id="summary">
                    </dx-validation-summary>
                </section><!---->
            </form>
            <br _ngcontent-ayb-c4="" class="ng-tns-c4-3">
        </div>
    </div>
</div>
